/* Message Box */
.message-box {
	--color-message-box: var(--color-secondary-bg);

	display: block;
	background-color: var(--color-message-box);
	color: var(--color-gray-10);
	padding: 1rem;
}
.message-box ol {
	margin-top: 0;
}
.message-box a {
	color: inherit;
}
