<nav
	role="navigation"
	aria-label="{{ i18n.mainnav.hiddenLabel[page.lang] }}"
	labeledby="main-nav"
>
	<span id="nav-label" hidden="">Main Menu</span>
	<button
		id="btn-open"
		aria-expanded="false"
		aria-labelledby="nav-label"
	>
		Menu
	</button>
	<div class="mainmenu-container" role="dialog" aria-labelledby="nav-label">
		<button id="nav-btn-close" aria-label="Close">✕</button>
		<ul id="main-nav" class="nav visible">
		{%- for entry in collections.all | eleventyNavigation %}
			<li class="nav-item">
				<a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a>
			</li>
		{%- endfor %}
		</ul>
	</div>
</nav>


				{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
				{# <nav>
					<h2 class="visually-hidden">Top level navigation menu</h2>
					<ul class="nav">
					{%- for entry in collections.all | eleventyNavigation %}
						<li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
					{%- endfor %}
					</ul>
				</nav> #}
